<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'patients')}">
<head>
    <meta charset="UTF-8">
    <title>Prescription Editor</title>
</head>
<body>
<div  class="container-fluid">

    <div class="row card title-panel">
        <div class="card-body">
            <a><i class="fas fa-prescription fa-lg chironblue-icon"></i></a>
            <a th:if="${diagnosis != null}" class="panel-text" th:text="${'Add New Prescription Record | ' + diagnosis.diagnosisSynopsis}">Add New Prescription Record</a>
            <a th:if="${diagnosis == null}" class="panel-text">Add New Prescription Record  | Diagnosis</a>

        </div>
    </div>

</div>

<form th:object="${prescription}" method="post">
<div class="container-fluid">
    <div class="card card-cascade wider chiron-info-card">
        <div style="background-color: white" class="card-body card-body-cascade">
            <div class="row justify-content-center diagnosis-editor-frame">

                <div class="col-md-12">
                    <div class="card chiron-editor-card">
                        <div class="card-body">
                            <div class="text-center mb-1">
                                <br><br>
                                <div class="diagnosis-editor-icon-box">
                                    <div class="flip-this">
                                        <a th:href="@{'/patients/info/' + ${diagnosis.patient.id} + '#diagnoseswrapper'}">
                                            <i style="font-size: 33px" class="fas fa-prescription fa-lg chironblue-icon"></i>
                                        </a>
                                    </div>
                                </div>
                                <br>
                                <h4 class="mt-1 mb-2 chiron-editor-title">Prescription Script</h4>
                            </div>
                            <br>
                            <a th:href="@{'/patients/info/' + ${diagnosis.patient.id} + '#diagnoseswrapper'}">
                            <div th:if="${diagnosis != null}" class="row editor-input">
                                <h5 class="display-4 chiron-patient-log-title" th:text="${diagnosis.patient.getFullName()}">Patient Name</h5>
                            </div>
                            </a>
                            <div th:if="${diagnosis == null}" class="row editor-input">
                                <h5 class="display-4 chiron-patient-log-title" >Patient Name</h5>
                            </div>
                            <br><br>
                            <div class="row editor-input">
                                <div class="col-md-8">
                                    <div class="md-form ml-0 mr-0">
                                        <input th:field="*{prescriptionName}" type="text" id="form1" class="chiron-modal-edit-input form-control form-control-lg validate ml-0">
                                        <label data-error="wrong" data-success="right" for="form1" class="chiron-modal-label ml-0">Prescription Name</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="md-form ml-0 mr-0">
                                        <label data-error="wrong" data-success="right" class="chiron-modal-label ml-0">Dosage Type</label>
                                        <select th:field="*{prescribedDosageType}"  name="prescribedDosageType" class="chiron-modal-edit-input form-control form-control-lg validate ml-0">
                                            <option th:each="rxT : ${rxTypes}"
                                                    th:value="${rxT}"
                                                    th:selected="${rxTypes.equals(prescription.prescribedDosageType)}"
                                                    th:text="${rxT}"></option>
                                            <option th:remove="all">Pill(s)</option>
                                            <option th:remove="all">Capsule(s)</option>
                                            <option th:remove="all">Drop(s)</option>
                                            <option th:remove="all">Teaspoon(s)</option>
                                            <option th:remove="all">Tablet(s)</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row editor-input">

                                <div class="col-md-4">
                                    <div class="md-form ml-0 mr-0">
                                        <input th:field="*{prescribedDosageAmount}" type="number" id="prescribedDosageAmount" name="prescribedDosageAmount"  class="chiron-modal-edit-input form-control form-control-lg validate ml-0">
                                        <label data-error="wrong" data-success="right" for="prescribedDosageAmount" class="chiron-modal-label ml-0">Dosage Amount</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="md-form ml-0 mr-0">
                                        <input th:field="*{prescriptionDosageRegimen}" type="text" id="prescriptionDosageRegimen" name="prescriptionDosageRegimen"  class="chiron-modal-edit-input form-control form-control-lg validate ml-0">
                                        <label data-error="wrong" data-success="right" for="prescriptionDosageRegimen" class="chiron-modal-label ml-0">Dosage Regimen</label>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="md-form ml-0 mr-0">
                                        <input th:field="*{prescribedDuration}" type="text" id="prescribedDuration" name="prescribedDuration"  class="chiron-modal-edit-input form-control form-control-lg validate ml-0">
                                        <label data-error="wrong" data-success="right" for="prescribedDuration" class="chiron-modal-label ml-0">Duration</label>
                                    </div>
                                </div>

                            </div>

                            <div class="row editor-input">
                                <div class="col-md-6">
                                    <div class="md-form ml-0 mr-0">
                                        <input th:field="*{prescribedBy}" type="text" id="prescribedBy" class="chiron-modal-edit-input form-control form-control-lg validate ml-0">
                                        <label data-error="wrong" data-success="right" for="prescribedBy" class="chiron-modal-label ml-0">Prescribed By</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="md-form ml-0 mr-0">
                                        <input th:field="*{prescriptionDate}" type="date" id="prescriptionDate" class="chiron-modal-edit-input form-control form-control-lg validate ml-0">
                                        <label data-error="wrong" data-success="right" for="prescriptionDate" class="chiron-modal-label ml-0">Prescription Date</label>
                                    </div>
                                </div>
                            </div>


                            <br><br>
                        </div>
                        <br>
                    </div>
                </div>



            </div>
        </div>
    </div>


</div>

    <!-- Delete Sub-Entity Modal -->


    <div th:if="${prescription.prescriptionName != null}"
         class="modal fade right" id="sideModalEdit" tabindex="-1" role="dialog" aria-labelledby="sideModalEdit"
         aria-hidden="true">

        <div class="modal-dialog modal-side modal-bottom-right" role="document">
            <div class="modal-content sub-delete-pip-dialog">
                <div class="modal-header">
                    <h4 class="chiron-panel-text chiron-hue modal-title w-100" id="myModalLabel">EDIT PRESCRIPTION</h4>
                    <a style="margin-left: 3px; text-align: justify;" class="panel-text" th:text="'for ' + ${prescription.diagnosis.diagnosisSynopsis}">for Diagnosis</a>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body sub-delete-pip-dialog-info">
                    <p style="text-align: justify;" class="info-data" th:text="'Are you a 100% sure that you want to edit this prescription for '
                    + ${prescription.diagnosis.patient.getFullName()} + '\'s ('+ ${prescription.diagnosis.diagnosisSynopsis} + ') Diagnosis from '
                    + ${#temporals.format(prescription.diagnosis.visitDate, 'EEEE, dd MMMM yyyy')}
                    + '?'">Are you a 100% sure that you want to edit this prescription record for Patient's (DN) Diagnosis from (DD)?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn biodata-button pull-left" data-dismiss="modal">&nbsp;
                        <i style="font-size: 16px" class="far fa-times-circle biodata-button-icon mr-1"></i>
                        CLOSE
                    </button>
                    <button type="submit" class="btn biodata-button pull-right">
                        <i style="font-size: 16px" class="far fa-check-circle biodata-button-icon mr-1"></i>
                        UPDATE
                    </button>
                </div>
            </div>
        </div>
    </div>



    <div th:if="${prescription.prescriptionName == null}" class="modal fade right" id="sideModalNew"
         tabindex="-1" role="dialog" aria-labelledby="sideModalNew"
         aria-hidden="true">

        <div class="modal-dialog modal-side modal-bottom-right" role="document">
            <div class="modal-content sub-delete-pip-dialog">
                <div class="modal-header">
                    <h4 class="chiron-panel-text chiron-hue modal-title w-100" id="myModalLabelNew">CREATING PRESCRIPTION</h4>
                    <a style="margin-left: 3px; text-align: justify;" class="panel-text" th:text="'for ' + ${prescription.diagnosis.diagnosisSynopsis}">for Diagnosis</a>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body sub-delete-pip-dialog-info">
                    <p class="info-data" style="text-align: justify"><strong>NOTE:&nbsp;</strong>Only Diagnosis records can be deleted from the Chiron database. Once a prescription has been added to a patient's diagnosis, it can only be edited!</p>
                    &nbsp;<br>
                    <p class="info-data" style="text-align: justify" th:text="'Are you sure you want to add this prescription to ' + ${prescription.diagnosis.patient.getFullName()}
                    + '\'s ('+ ${prescription.diagnosis.diagnosisSynopsis} + ') Diagnosis from ' + ${#temporals.format(prescription.diagnosis.visitDate, 'EEEE, dd MMMM yyyy')}
                     + '?'">Are you sure you want to add this prescription to Patient's (DiagnosisName) Diagnosis?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn biodata-button pull-left" data-dismiss="modal">&nbsp;
                        <i style="font-size: 16px" class="far fa-times-circle biodata-button-icon mr-1"></i>
                        DISMISS
                    </button>
                    <button type="submit" class="btn biodata-button pull-right">
                        <i style="font-size: 16px" class="far fa-check-circle biodata-button-icon mr-1"></i>
                        SUBMIT
                    </button>
                </div>
            </div>
        </div>
    </div>


    <!-- Delete Sub-Entity Modal -->

</form>

<a style="color:#ffffff" data-toggle="modal" data-target="#sideModalEdit">
<div th:if="${prescription.prescriptionName != null}" class="row text-center" data-toggle="modal" data-target="#sideModalEdit">

        <button id="submit_btn_edit"  class="btn create">
            <i style="font-size: 16px" class="fas fa-prescription biodata-button-icon mr-1"></i> <a th:text="${editorButton}">UPDATE</a></button>
</div>
</a>

<a style="color:#ffffff" data-toggle="modal" data-target="#sideModalNew">
<div th:if="${prescription.prescriptionName == null}" class="row text-center" data-toggle="modal" data-target="#sideModalNew">

        <button id="submit_btn_new"  class="btn create">
            <i style="font-size: 16px" class="fas fa-prescription biodata-button-icon mr-1"></i> <a th:text="${editorButton}">CREATE</a></button>
</div>
</a>

<div class="container mt-4">
    <h5 th:if="${diagnosis != null && diagnosis.prescriptions.size() > 1}" class="display-4 chiron-subtitle" th:text="'Other Prescriptions for ' + ${diagnosis.diagnosisSynopsis}">Other Prescriptions for Diagnosis</h5>
    <h5 th:if="${diagnosis == null}" class="display-4 chiron-subtitle" th:text="'Other Prescriptions for Diagnosis'">Other Prescriptions for Diagnosis</h5>
</div>

<div th:if="${diagnosis != null}" class="container mt-4">
    <div class="row">
        <div th:each="rx : ${diagnosis.prescriptions}" th:if="${rx.prescriptionDate != null}" class="col-sm-4">
            <div class="card item-pill-card">
                <div class="card-body chiron-prescription-frame">
                    <div class="row">
                        <div class="col-md-3">
                            <a th:text="${rx.prescribedDosageAmount}" class="item-pill-amount">2</a>
                            <br>
                            <a th:text="${rx.prescribedDosageType}" class="dosage-type">tablets</a>
                            <br>
                            <a th:text="${rx.prescriptionDosageRegimen}" class="dosage-regimen">per day</a>
                        </div>
                        <div class="col-md-7">
                            <a th:text="${rx.prescriptionName}" class="item-pill-rxtitle">
                                Penicillin
                            </a>
                            <br>
                            <i class="fas fa-history fa-md"></i>
                            <a class="dosage-duration-title">DURATION: </a>
                            <a th:text="${rx.prescribedDuration}" class="item-pill-rxvalue">90 Days</a>
                            <br>

                            <a class="dosage-duration-title">PRESCRIBED BY: </a>
                            <a th:text="${rx.prescribedBy}" class="item-pill-rxvalue">Dr. Dre</a>
                            <br>

                            <a class="dosage-duration-title">ON </a>
                            <a th:text="${rx.prescriptionDate}" class="item-pill-rxvalue"> 21 FEB 2020</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:remove="all" class="col-sm-4">
            <div class="card item-pill-card">
                <div class="card-body chiron-prescription-frame">
                    <div class="row">
                        <div class="col-md-3">
                            <a class="item-pill-amount">2</a>
                            <br>
                            <a class="dosage-type">tablets</a>
                            <br>
                            <a class="dosage-regimen">per day</a>
                        </div>
                        <div class="col-md-7">
                            <a class="item-pill-rxtitle">
                                Penicillin
                            </a>
                            <br>

                            <i class="fas fa-history fa-md"></i>
                            <a class="dosage-duration-title">DURATION: </a>
                            <a class="item-pill-rxvalue">90 Days</a>
                            <br>

                            <a class="dosage-duration-title">PRESCRIBED BY: </a>
                            <a class="item-pill-rxvalue">Dr. Dre</a>
                            <br>

                            <a class="dosage-duration-title">ON </a>
                            <a class="item-pill-rxvalue"> 21 FEB 2020</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:remove="all" class="col-sm-4">
            <div class="card item-pill-card">
                <div class="card-body chiron-prescription-frame">
                    <div class="row">
                        <div class="col-md-3">
                            <a class="item-pill-amount">2</a>
                            <br>
                            <a class="dosage-type">tablets</a>
                            <br>
                            <a class="dosage-regimen">per day</a>
                        </div>
                        <div class="col-md-7">
                            <a class="item-pill-rxtitle">
                                Penicillin
                            </a>
                            <br>

                            <i class="fas fa-history fa-md"></i>
                            <a class="dosage-duration-title">DURATION: </a>
                            <a class="item-pill-rxvalue">90 Days</a>
                            <br>

                            <a class="dosage-duration-title">PRESCRIBED BY: </a>
                            <a class="item-pill-rxvalue">Dr. Dre</a>
                            <br>

                            <a class="dosage-duration-title">ON </a>
                            <a class="item-pill-rxvalue"> 21 FEB 2020</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:remove="all" class="col-sm-4">
            <div class="card item-pill-card">
                <div class="card-body chiron-prescription-frame">
                    <div class="row">
                        <div class="col-md-3">
                            <a class="item-pill-amount">2</a>
                            <br>
                            <a class="dosage-type">tablets</a>
                            <br>
                            <a class="dosage-regimen">per day</a>
                        </div>
                        <div class="col-md-7">
                            <a class="item-pill-rxtitle">
                                Penicillin
                            </a>
                            <br>

                            <i class="fas fa-history fa-md"></i>
                            <a class="dosage-duration-title">DURATION: </a>
                            <a class="item-pill-rxvalue">90 Days</a>
                            <br>

                            <a class="dosage-duration-title">PRESCRIBED BY: </a>
                            <a class="item-pill-rxvalue">Dr. Dre</a>
                            <br>

                            <a class="dosage-duration-title">ON </a>
                            <a class="item-pill-rxvalue"> 21 FEB 2020</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



</div>


<a th:if="${prescription.prescriptionName == null}" th:href="@{'/patients/info/' + ${prescription.patient.id}}">
    <div class="fab" >
        <i class="far fa-user-circle fab-icon"></i>
    </div>
</a>

<a th:if="${prescription.prescriptionName != null}" th:href="@{'/patients/info/' + ${prescription.patient.id}}">
    <div class="fab" >
        <i class="fas fa-arrow-left fab-icon"></i>
    </div>
</a>


</body>
</html>