<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'practitioners')}">
<head>
    <meta charset="UTF-8">
    <title>Registered Nurses</title>
</head>
<body>

<div class="container-fluid">

<div class="row card title-panel">
    <div class="card-body">

        <a><i class="fas fa-user-circle fa-lg chironblue-icon"></i></a>
        <a class="panel-text" th:text="'Registered Nurses'">Registered Nurses</a>

    </div>
</div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">ID</th>
            <th style="width: 150px;">First Name</th>
            <th style="width: 150px;">Last Name</th>
            <th style="width: 150px;">Practitioner ID</th>
            <th style="width: 150px;">Contact Info</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="registerednurse : ${registerednurses}">
            <td th:text="${registerednurse.id}">1</td>
            <td th:text="${registerednurse.firstName}">Thelonious</td>
            <td th:text="${registerednurse.lastName}">Jaha</td>
            <td th:text="${registerednurse.practitionerID}">BC01236578B</td>
            <td th:text="${registerednurse.contactInfo}">+ 13 (976) 644-0076</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>