<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registered Nurses</title>
</head>
<body>

    <h1 th:text="'List of Registered Nurses'">Registered Nurses</h1>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Practitioner ID</th>
            <th>Contact Info</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="registerednurse : ${registerednurses}">
            <td th:text="${registerednurse.id}">1</td>
            <td th:text="${registerednurse.firstName}">Thelonious</td>
            <td th:text="${registerednurse.lastName}">Jaha</td>
            <td th:text="${registerednurse.practitionerID}">BC01236578B</td>
            <td th:text="${registerednurse.contactInfo}">+ 13 (976) 644-0076</td>
        </tr>
        </tbody>
    </table>

</body>
</html>