<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'patients')}">
<head>
    <meta charset="UTF-8">
    <title>Find Patients</title>
</head>
<body>

<div class="container-fluid">

<div class="row card title-panel">
    <div class="card-body">

        <a><i class="fas fa-layer-group fa-lg chironblue-icon"></i></a>
        <a class="panel-text" th:text="'Find Patients'">Find Patients</a>

    </div>
</div>

</div>

</body>
</html>