<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'patients')}">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
</head>
<body>

<div class="container-fluid">


<div class="row card title-panel">

    <div class="card-body">

        <a><i class="fas fa-procedures fa-lg chironblue-icon"></i></a>
        <a class="panel-text" th:text="'Patients'">List of Patients</a>

    </div>
</div>

</div>

<div class="container-fluid">

    <div style="padding-bottom: 50px; margin-top: -13px;" class="row">
        <a class="inventory-count">Records Found &nbsp;</a>
        <a class="inventory-count-number" th:text="${patientCount}">101</a>
    </div>



    <div class="card card-cascade narrower">

        <div class="px-4">

            <div class="table-wrapper">

<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 30px;" class="th-lg table-header chiron-title">ID</th>
        <th style="width: 130px;" class="th-lg table-header chiron-title">First Name</th>
        <th style="width: 130px;" class="th-lg table-header chiron-title">Last Name</th>
        <th style="width: 195px;" class="th-lg table-header chiron-title">Insurance Vendor</th>
        <th style="width: 150px;" class="th-lg table-header chiron-title">Vendor ID</th>
        <th style="width: 150px;" class="th-lg table-header chiron-title">Diagnosis</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patient : ${patients}">
        <td class="chiron-text" th:text="${patient.id}">1</td>
        <td class="chiron-text">
            <a th:text="${patient.firstName}" class="click-item" style="text-decoration: none" th:href="@{'/patients/info/' + ${patient.id}}">
                <div>
                John
                </div>
            </a>
        </td>
        <td class="chiron-text">
            <a th:text="${patient.lastName}" class="click-item" style="text-decoration: none" th:href="@{'/patients/info/' + ${patient.id}}">
                <div>
                Doe
                </div>
            </a>
        </td>
        <td class="chiron-text">
            <a th:text="${patient.insuranceVendor}" class="click-item" style="text-decoration: none" th:href="@{'/patients/info/' + ${patient.id}}">
            <div>
            Blue Cross
            </div>
            </a>
        </td>
        <td class="chiron-text">
            <a  th:text="${patient.insuranceVendorID}" class="click-item" style="text-decoration: none" th:href="@{'/patients/info/' + ${patient.id}}">
            <div>
                BC01236578
            </div>
            </a>
        </td>
        <td class="chiron-text">
            <a th:text="${patient.diagnoses}" class="click-item" style="text-decoration: none" th:href="@{'/patients/info/' + ${patient.id}}">
                <div>
            Null Diagnosis
                </div>
            </a>
        </td>
    </tr>

    </tbody>
</table>
            </div>
        </div>
    </div>

    <!--Modal Patient Form-->
    <div class="modal fade chiron-modal" id="modalNewPatient" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog cascading-modal modal-avatar" role="document">
            <!--Content-->
            <div style="border-radius: 6px;" class="modal-content">

                <!--Header-->
                <div class="chiron-modal-head">
                    <img th:src="@{/resources/images/chironicon.png}" src="https://mdbootstrap.com/img/Photos/Avatars/img%20%281%29.jpg" alt="avatar" class="rounded-circle chiron-modal-img img-responsive">
                </div>
                <!--Body-->
                <form th:object="${patient}" th:action="@{'/patients/create'}" method="post">

                    <div class="modal-body text-center mb-1">

                        <h4 class="mt-1 mb-2 chiron-modal-title">Add New Patient</h4>
                        <br>

                        <div class="row">


                            <div class="col-md-6">


                                <div class="md-form ml-0 mr-0">
                                    <input type="text" id="lastName" name="lastName" class="chiron-modal-edit-input form-control form-control-lg validate ml-0" autocapitalize="words" th:field="*{lastName}">
                                    <label data-error="wrong" data-success="right" for="lastName" class="chiron-modal-label ml-0">Last Name</label>
                                </div>

                            </div>

                            <div class="col-md-6">
                                <div class="md-form ml-0 mr-0">
                                    <input type="text" id="firstName" name="firstName" class="chiron-modal-edit-input form-control form-control-lg validate ml-0" autocapitalize="words" th:field="*{firstName}">
                                    <label data-error="wrong" data-success="right" for="firstName" class="chiron-modal-label ml-0">First Name</label>
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="md-form ml-0 mr-0">
                                    <label data-error="wrong" data-success="right" for="bloodgroup" class="chiron-modal-label ml-0">Blood Group</label>
                                    <select id="bloodgroup" name="bloodGroup" class="chiron-modal-edit-input form-control form-control-lg validate ml-0" th:field="*{bloodGroup}">
                                        <option th:value="''"></option>
                                        <option th:value="'A+'">A+</option>
                                        <option th:value="'A-'">A-</option>
                                        <option th:value="'B+'">B+</option>
                                        <option th:value="'B-'">B-</option>
                                        <option th:value="'O+'">O+</option>
                                        <option th:value="'O-'">O-</option>
                                        <option th:value="'AB+'">AB+</option>
                                        <option th:value="'AB-'">AB-</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="md-form ml-0 mr-0">
                                    <input type="date" id="birthDate" name="dateofbirth"  class="chiron-modal-edit-input form-control form-control-lg validate ml-0" th:field="*{birthDate}">
                                    <label data-error="wrong" data-success="right" for="birthDate" class="chiron-modal-label ml-0">Date of Birth</label>
                                </div>
                            </div>
                        </div>

                        <br>
                        <div>
                            <a style="color:#ffffff">
                                <button id="submit_btn" class="btn create">
                                    <i style="font-size: 16px" class="fas fa-file-medical biodata-button-icon mr-1"></i> CREATE</button>
                            </a>
                        </div>
                        <br>

                    </div>
                </form>
            </div>
            <!--/.Content-->
        </div>
    </div>
    <!--Modal Patient Form-->


    <a  data-toggle="modal" data-target="#modalNewPatient">
        <div class="fab" >
            <i class="fas fa-user-plus fab-icon"></i>
        </div>
    </a>


</div>

</body>
</html>