<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
</head>
<body>
    <h1 th:text="'List of Patients'">Patients</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Insurance Vendor</th>
        <th>Vendor ID</th>
        <th>Diagnosis</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patient : ${patients}">
        <br th:text="${patient.id}">1</td>
        <td th:text="${patient.firstName}">John</td>
        <td th:text="${patient.lastName}">Doe</td>
        <td th:text="${patient.insuranceVendor}">Blue Cross</td>
        <td th:text="${patient.insuranceVendorID}">BC01236578</td>
        <td th:text="${patient.diagnoses}">Null Diagnosis</td>
    </tr>

    </tbody>
</table>

</body>
</html>