<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'pharmaceuticals')}">
<head>
    <meta charset="UTF-8">
    <title>Pharmaceuticals</title>
</head>
<body>

<div class="container-fluid">

<div class="row card title-panel">
    <div class="card-body">

        <a><i class="fas fa-prescription fa-lg chironblue-icon"></i></a>
        <a class="panel-text" th:text="'Pharmaceuticals'">Pharmaceuticals</a>

    </div>
</div>

    <div class="row">
        <div class="col-sm-4">.col-sm-4</div>
        <div class="col-sm-8">.col-sm-8</div>
    </div>

    <div class="card card-cascade narrower">

        <div class="px-4">

            <div class="table-wrapper">

    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;">ID</th>
            <th style="width: 150px;">Brand Name</th>
            <th style="width: 150px;">Generic Name</th>
            <th style="width: 150px;">Chemical Name</th>
            <th style="width: 150px;">Manufacturer Name</th>
            <th style="width: 150px;">Manufacture Date</th>
            <th style="width: 150px;">Expiry Date</th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="pharmaceutical : ${pharmaceuticals}">
            <td th:text="${pharmaceutical.id}">1</td>
            <td th:text="${pharmaceutical.brandName}">Thelonious</td>
            <td th:text="${pharmaceutical.genericName}">Jaha</td>
            <td th:text="${pharmaceutical.chemicalName}">BC01236578B</td>
            <td th:text="${pharmaceutical.manufacturerName}">27-09-1980</td>
            <td th:text="${pharmaceutical.manufactureDate}">28/12/2019</td>
            <td th:text="${pharmaceutical.expiryDate}">28/12/2019</td>

        </tr>
        </tbody>
    </table>
            </div>
        </div>
    </div>

</div>
</body>
</html>