<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'pharmaceuticals')}">
<head>
    <meta charset="UTF-8">
    <title th:object="${pharmaceuticals}" th:text="'Pharmaceuticals Info | ' + *{brandName}">Pharmaceuticals Info</title>
</head>
<body>
<!--/*@thymesVar id="Pharmaceutical" type="iot.empiaurhouse.chiron.model.Pharmaceuticals"*/-->

<div  class="container-fluid">



    <div class="row card title-panel">
        <div class="card-body">

            <a><i class="fas fa-prescription fa-lg chironblue-icon"></i></a>
            <a class="panel-text" th:text="'Pharmaceuticals Information'">Pharmaceuticals Information</a>

        </div>
    </div>


</div>


<div class="container-fluid">

    <div class="row">
        <div class="col-sm-4">

            <!-- Profile Image Card -->

            <div class="profile-card-wrapper">

                <div class="profile-card">

                    <div class="profile-card-image">
                        <img height="650px" width="400px" th:src="@{'/pharmaceuticals/' + ${pharmaceuticals.id} + '/getimage'}"
                             onerror="this.src='https://image.ibb.co/dUTfmJ/profile_img.jpg';"
                             src="https://image.ibb.co/dUTfmJ/profile_img.jpg" alt="pharmaceuticalProfile">
                    </div>

                    <ul class="crud-icons">
                        <li>
                             <span th:tooltip="'Find Diagnoses'" flow="up">
                            <a data-toggle="modal" data-target="#rxInfoModal">
                                <i class="fas fa-diagnoses"></i>
                            </a>
                             </span>
                        </li>
                        <li>
                            <span th:tooltip="'Find Prescriptions'" flow="up">
                            <a data-toggle="modal" data-target="#rxInfoModal">
                                <i class="fas fa-prescription"></i>
                            </a>
                            </span>
                        </li>
                        <li>
                            <span th:tooltip="'Rx Info: ' + ${pharmaceuticals.brandName}" flow="up">
                            <a th:href="${'https://bodyandhealth.canada.com/search/' + pharmaceuticals.brandName}" target="_blank">
                                <i class="fas fa-info-circle"></i>
                            </a>
                            </span>
                        </li>

                    </ul>

                    <div class="details">
                        <h2>EXPIRY DATE
                            <br>
                            <span class="dob" th:text="${#temporals.format(pharmaceuticals.expiryDate, 'dd MMM yyyy')}">22 FEB 2020</span>
                        </h2>
                    </div>
                </div>
            </div>

            <!-- Profile Image Card -->

        </div>

        <div class="col-sm-8">


            <!-- Info Card -->

            <div style="margin-top: 29px" class="card card-cascade wider chiron-info-card">

                <!-- Info Card Header -->
                <div class="view view-cascade overlay">
                    <a><i style="font-size: 27px;" class="fas fa-file-prescription fa-lg chironblue-icon chiron-info-title"></i></a>
                    <a style="color: #0c204f;" class="chiron-panel-text chiron-hue" th:text="*{pharmaceuticals.brandName}">Pharmaceuticals Name</a>
                    <hr style="margin-top: -0.3px;" class="chiron-line">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body card-body-cascade">

                    <br>
                    <div class="row justify-content-center chiron-frame">

                        <table style="margin-bottom: 44px" class="table table-hover">
                            <tr>
                                <th><a style="color: #0c204f" class="info-data" th:text="'Brand Name'">Brand Name</a></th>
                                <td><a class="info-data-value" th:text="*{pharmaceuticals.brandName}">Icy Hot</a></td>
                            </tr>
                            <tr>
                                <th><a style="color: #0c204f" class="info-data" th:text="'Generic Name'">Generic Name</a></th>
                                <td ><a class="info-data-value" th:text="*{pharmaceuticals.genericName}">Heat Balm</a></td>
                            </tr>
                            <tr>
                                <th><a style="color: #0c204f" class="info-data" th:text="'Chemical Name'">Chemical Name</a></th>
                                <td ><a class="info-data-value" th:text="*{pharmaceuticals.chemicalName}">Hydroxide Silicone</a></td>
                            </tr>
                            <tr>
                                <th><a style="color: #0c204f" class="info-data" th:text="'Manufacturer Name'">Manufacturer Name</a></th>
                                <td ><a class="info-data-value" th:text="*{pharmaceuticals.manufacturerName}">Rocher</a></td>
                            </tr>
                            <tr>
                                <th><a style="color: #0c204f" class="info-data" th:text="'Batch Number'">Batch Number</a></th>
                                <td><a class="info-data-value" th:text="*{pharmaceuticals.batchNumber}">1323-11B</a></td>
                            </tr>
                            <tr>
                                <th><a style="color: #0c204f" class="info-data" th:text="'Manufacture Date'">Manufacture Date</a></th>
                                <td><a class="info-data-value" th:text="${#temporals.format(pharmaceuticals.manufactureDate, 'dd MMM yyyy')}">23 FEB 2020</a></td>
                            </tr>
                            <tr>
                                <th><a style="color: #0c204f" class="info-data" th:text="'Expiry Date'">Expiry Date</a></th>
                                <td><a class="info-data-value" th:text="${#temporals.format(pharmaceuticals.expiryDate, 'dd MMM yyyy')}">23 FEB 2030</a></td>
                            </tr>
                        </table>


                    </div>


                </div>

            </div>

            <!-- Info Card -->


        </div>
    </div>

</div>

<div class="container mt-4">
    <div class="row" style="padding-bottom: 23px; padding-top: 3px;">
        <div class="col-md-6">
            <a style="color:#ffffff;" data-toggle="modal" data-target="#fullHeightModalRight">
                <button class="btn biodata-button">&nbsp;
                    <i style="font-size: 16px" class="fas fa-trash-alt biodata-button-icon mr-1"></i> DELETE INVENTORY</button>
            </a>
            <a href="#" th:href="@{'/pharmaceuticals/edit/' + ${pharmaceuticals.id}}" style="color:#ffffff;">
                <button class="btn biodata-button">&nbsp;
                    <i style="font-size: 16px" class="fas fa-pen-alt biodata-button-icon mr-1"></i> EDIT Rx DATA</button>
            </a>
        </div>
        <div class="col-md-3">
        </div>
        <div th:if="${pharmaceuticals.inStock != null && pharmaceuticals.inStock <= 10}" class="col-md-3 ">
            <a style="color:#ffffff;" th:href="${'https://bodyandhealth.canada.com/search/' + pharmaceuticals.brandName}" target="_blank">
                <button class="btn biodata-button pull-right">&nbsp;
                    <i style="font-size: 16px" class="fas fa-prescription-bottle biodata-button-icon mr-1"></i> RESTOCK</button>
            </a>
        </div>
        <div th:if="${pharmaceuticals.inStock != null && pharmaceuticals.inStock > 10}" class="col-md-3 ">
            <a class="inventory-count">Inventory Count &nbsp;</a>
            <a class="inventory-count-number" th:text="${pharmaceuticals.inStock}">11</a>
        </div>
    </div>

</div>

<!-- Full Height Modal Right -->
<div class="modal fade right" id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="deleteModal"
     aria-hidden="true">

    <div class="modal-dialog modal-full-height modal-right" role="document">


        <div class="delete-dialog modal-content">
            <div class="modal-header">
                <h4 th:text="'Delete Rx Record'" class="chiron-panel-text chiron-hue modal-title w-100" id="deleteModal">Delete Rx Record</h4>
                <a th:if="${pharmaceuticals.brandName != null && pharmaceuticals.brandName.isEmpty() == false}" style="margin-left: 3px;" class="panel-text" th:text="' ' + ${pharmaceuticals.brandName}">
                    John Smith
                </a>
                <a th:if="${pharmaceuticals.genericName != null && pharmaceuticals.brandName.isEmpty() == true && pharmaceuticals.genericName.isEmpty() == false}" style="margin-left: 3px;" class="panel-text" th:text="' ' + ${pharmaceuticals.genericName}"></a>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <a class="info-data">
                    Are you sure you want to permanently delete this record from the Chiron database?
                </a>
            </div>
            <div class="modal-footer justify-content-center">
                <button class="btn biodata-button pull-left" data-dismiss="modal">&nbsp;
                    <i style="font-size: 16px" class="far fa-times-circle biodata-button-icon mr-1"></i>
                    CLOSE
                </button>
                <a th:href="@{'/pharmaceuticals/delete/' + ${pharmaceuticals.id}}">
                    <button class="btn biodata-button pull-right">&nbsp;
                        <i style="font-size: 16px" class="far fa-check-circle biodata-button-icon mr-1"></i>
                        CONFIRM
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Full Height Modal Right -->

<!-- Full Height Modal Right -->
<div class="modal fade bottom" id="rxInfoModal" tabindex="-1" role="dialog" aria-labelledby="rxInfoModal"
     aria-hidden="true">

    <div class="modal-dialog modal-full-height modal-bottom" role="document">


        <div class="modal-content bottom-rx-editor-dialog">
            <div class="modal-header">
                <a><i style="font-size: 33px;" class="fas fa-laptop-medical fa-lg chironblue-icon"></i></a>
                <a class="chiron-panel-text chiron-hue modal-title w-100" id="rxInfoModalLabel" th:text="' ' + ${pharmaceuticals.brandName} + ' Corollary '">Rx Corollary</a>
                <br>
                <a class="panel-text">Diagnoses & Prescriptions</a>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    ....
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <div class="pull-left pull-records-found">
                    <a class="rx-records-found-text">Records found </a>&nbsp;
                    <a class="rx-records-found-count" th:text="${prescriptionsCount}">10</a>
                </div>
                <br>
                <div class="pull-records-found-button">
                    <button class="btn biodata-button pull-right" data-dismiss="modal">&nbsp;
                        <i style="font-size: 16px" class="far fa-times-circle biodata-button-icon mr-1"></i>
                        EXIT&nbsp;
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Full Height Modal Right -->

<a data-toggle="modal" data-target="#fullHeightModalRight">
    <div  class="fab" >
        <i class="fas fa-trash-alt fab-icon"></i>
    </div>
</a>


</body>
</html>