.item-pill-amount{
  font-family: oswaldsemibold, sans-serif;
  font-weight: bold;
  font-size: 36px;
}

.item-pill-rxtitle{
  font-family: oswaldsemibold, sans-serif;
  font-weight: 900;
  color: #0c204f;
  font-size: 36px;
}

.item-pill-rxvalue{
  font-family: oswaldregular, sans-serif;
  font-size: 17px;
}

.item-pill-card{
  background-color: @chiron-lapis-lazuli;
  color: white;
  border-radius: 5px;
  margin-bottom: 13px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
}

.item-pill-card:hover{
  color: @chiron-lapis-lazuli;
  background-color: white;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.6);
}

.item-pill-visit{
  font-family: oswaldsemibold, sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.item-pill-note{
  text-align: justify;
  font-family: oswaldregular, sans-serif;
  font-size: 19px;
}