<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'visits')}">
<head>
    <meta charset="UTF-8">
    <title>Visits</title>
</head>
<body>

<div class="container-fluid">


<div class="row card title-panel">
    <div class="card-body">

        <a><i class="fas fa-calendar-alt fa-lg chironblue-icon"></i></a>
        <a class="panel-text" th:text="'Visits'">Visits</a>

    </div>
</div>


</div>


<div class="container-fluid">

    <div class="row">
        <div class="col-sm-4">.col-sm-4</div>
        <div class="col-sm-8">.col-sm-8</div>
    </div>

    <div class="card card-cascade narrower">

        <div class="px-4">

            <div class="table-wrapper">

    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 50px;" class="th-lg table-header chiron-title">ID</th>
            <th style="width: 150px;" class="th-lg table-header chiron-title">First Name</th>
            <th style="width: 150px;" class="th-lg table-header chiron-title">Last Name</th>
            <th style="width: 190px;" class="th-lg table-header chiron-title">Host Practitioner</th>
            <th style="width: 150px;" class="th-lg table-header chiron-title">Visit Date</th>
            <th style="width: 190px;" class="th-lg table-header chiron-title">Visit Description</th>
            <th style="width: 190px;" class="th-lg table-header chiron-title">Diagnosis Details</th>



        </tr>
        </thead>
        <tbody>
        <tr th:each="visit : ${visits}">
            <td class="chiron-text" th:text="${visit.id}">1</td>
            <td class="chiron-text" th:text="${visit.getVisitingPatient().getFirstName()}">Thelonious</td>
            <td class="chiron-text" th:text="${visit.getVisitingPatient().getLastName()}">Jaha</td>
            <td class="chiron-text" th:text="${visit.hostPractitioner}">BC01236578B</td>
            <td class="chiron-text" th:text="${visit.visitDate}">+ 13 (976) 644-0076</td>
            <td class="chiron-text" th:text="${visit.getVisitDescription()}">+ 13 (976) 644-0076</td>
            <td class="chiron-text" th:text="${visit.getVisitDiagnosis().getDiagnosisDetails()}">+ 13 (976) 644-0076</td>



        </tr>
        </tbody>
    </table>
            </div>
        </div>
    </div>

    <a data-toggle="modal" data-target="#modalNewVisit">
        <div class="fab" >
            <i class="far fa-calendar-plus fab-icon"></i>
        </div>
    </a>

</div>
</body>
</html>