<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'visits')}">
<head>
    <meta charset="UTF-8">
    <title>Visits</title>
</head>
<body>

<div class="container-fluid">


<div class="row card title-panel">
    <div class="card-body">

        <a><i class="fas fa-calendar-alt fa-lg chironblue-icon"></i></a>
        <a class="panel-text" th:text="'Visits'">Visits</a>

    </div>
</div>


</div>


<div class="container-fluid">


    <div style="padding-bottom: 50px; margin-top: -13px;" class="row">
        <a class="inventory-count">Records Found &nbsp;</a>
        <a class="inventory-count-number" th:text="${visitsCount}">101</a>
    </div>

    <div th:if="${visits.size() >= 0 && (visits != null && visits.isEmpty() == false)}" class="card card-cascade narrower">

        <div class="px-4">

            <div class="table-wrapper">

    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 50px;" class="th-lg table-header chiron-title">ID</th>
            <th style="width: 150px;" class="th-lg table-header chiron-title">First Name</th>
            <th style="width: 150px;" class="th-lg table-header chiron-title">Last Name</th>
            <th style="width: 190px;" class="th-lg table-header chiron-title">Host Practitioner</th>
            <th style="width: 150px;" class="th-lg table-header chiron-title">Visit Date</th>
            <th style="width: 190px;" class="th-lg table-header chiron-title">Visit Description</th>
            <th style="width: 190px;" class="th-lg table-header chiron-title">Diagnosis Details</th>



        </tr>
        </thead>
        <tbody>
        <tr th:each="visit : ${visits}">
            <td class="chiron-text" th:text="${visit.id}">1</td>
            <td class="chiron-text" th:text="${visit.getVisitingPatient().getFirstName()}">Thelonious</td>
            <td class="chiron-text" th:text="${visit.getVisitingPatient().getLastName()}">Jaha</td>
            <td class="chiron-text" th:text="${visit.hostPractitioner}">BC01236578B</td>
            <td class="chiron-text" th:text="${visit.visitDate}">+ 13 (976) 644-0076</td>
            <td class="chiron-text" th:text="${visit.getVisitDescription()}">+ 13 (976) 644-0076</td>
            <td class="chiron-text" th:text="${visit.getVisitDiagnosis().getDiagnosisDetails()}">+ 13 (976) 644-0076</td>



        </tr>
        </tbody>
    </table>
            </div>
        </div>
    </div>

    <div th:if="${visits.size() <= 0 && visits.isEmpty() == true}" class="no-result-found">
        <a class="inventory-count">No Visit Records Found</a>
    </div>

    <!-- New Visit Log Modal -->
    <div class="modal fade" id="fullHeightVisitModal" tabindex="-1" role="dialog" aria-labelledby="visitModalLabel"
         aria-hidden="true">

        <div class="modal-fullscreen modal-fullscreen" role="document">

            <form th:object="${newVisit}"  method="post" id="newVisit">

                <div class="modal-content bottom-visit-editor-dialog">
                    <div class="modal-header">
                        <a><i style="font-size: 33px;" class="fas fa-clinic-medical fa-lg chironblue-icon"></i></a>
                        <a class="chiron-panel-text chiron-hue modal-title w-100" id="visitModalLabel">ADD NEW HEALTH CHECKUP VISIT LOG</a>
                        <p class="info-data" style="text-align: justify;">Only Diagnosis records can be deleted from the Chiron database. Once a visit log has been added to a patient's diagnosis, it can only be edited!</p>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="row editor-input">
                                <div class="col-md-5">
                                    <div class="md-form ml-0 mr-0">
                                        <label data-error="wrong" data-success="right" class="chiron-modal-label ml-0">Visiting Patient</label>
                                        <select required type="text" id="diagnosisPatient" class="chiron-modal-edit-input form-control form-control-lg validate ml-0" name="patient">
                                            <option value="" disabled selected hidden>Select Patient...</option>
                                            <option
                                                    th:each="patient : ${patients}"
                                                    th:text="${patient.getFullName()}"
                                                    th:value="${patient.id}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="md-form ml-0 mr-0">
                                        <label  data-error="wrong" data-success="right" class="chiron-modal-label ml-0">Visit Time</label>
                                        <select required name="visitTime" id="visitTime"  class="chiron-modal-edit-input form-control form-control-lg validate ml-0">
                                            <option value="" disabled selected hidden>Pick a time...</option>
                                            <option th:each="timeSlot : ${timeSlots}"
                                                    th:value="${timeSlot}"
                                                    th:text="${timeSlot}">00:00</option>
                                            <option th:remove="all">00:15</option>
                                            <option th:remove="all">00:30</option>
                                            <option th:remove="all">01:00</option>
                                            <option th:remove="all">01:30</option>
                                            <option th:remove="all">02:00</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="md-form ml-0 mr-0">
                                        <input required  th:field="*{hostPractitioner}" type="text" id="hostPractitioner" class="chiron-modal-edit-input form-control form-control-lg validate ml-0">
                                        <label data-error="wrong" data-success="right" for="hostPractitioner" class="chiron-modal-label ml-0">Host Practitioner</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="md-form ml-0 mr-0">
                                        <input th:field="*{hostPractitionerID}" required type="text" id="hostPractitionerID" class="chiron-modal-edit-input form-control form-control-lg validate ml-0">
                                        <label data-error="wrong" data-success="right" for="hostPractitionerID" class="chiron-modal-label ml-0">Host PractitionerID</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row editor-input">
                                <div class="col-md-6">
                                    <div class="md-form ml-0 mr-0">
                                        <span class="editor-label ml-0">Log Description</span>
                                        <textarea required th:field="*{visitDescription}"  style="align-content: start; text-align: start;" id="logDescription" rows="4" cols="50" class="chiron-modal-edit-input form-control" name="visitDescription" form="newVisit">
                                        </textarea>
                                    </div>
                                    <div style="visibility: hidden" class="md-form ml-0 mr-0">
                                        <input th:field="*{visitDate}" type="date" id="form4" name="visitDate"  class="chiron-modal-edit-input form-control form-control-lg validate ml-0">
                                        <label data-error="wrong" data-success="right" for="form4" class="chiron-modal-label ml-0">Visit Date</label>

                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button class="btn biodata-button pull-left" data-dismiss="modal">&nbsp;
                            <i style="font-size: 16px" class="far fa-times-circle biodata-button-icon mr-1"></i>
                            DISMISS
                        </button>
                        <button type="submit" class="btn biodata-button pull-right">
                            <i style="font-size: 16px" class="far fa-check-circle biodata-button-icon mr-1"></i>
                            LOG VISIT
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- New Visit Modal -->


    <a data-toggle="modal" data-target="#fullHeightVisitModal">
        <div class="fab" >
            <i class="far fa-calendar-plus fab-icon"></i>
        </div>
    </a>

</div>
</body>
</html>