<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'practitioners')}">
<head>
    <meta charset="UTF-8">
    <title>Practitioners</title>
</head>
<body>

<div class="container-fluid">


    <div class="row card title-panel">
    <div class="card-body">


                <a><i class="fas fa-heartbeat fa-lg chironblue-icon"></i></a>
                <a class="panel-text" th:text="'Practitioners'">List of Practitioners</a>



    </div>
</div>


</div>


<div class="container-fluid">

    <div class="row">
        <div class="col-sm-4">.col-sm-4</div>
        <div class="col-sm-8">.col-sm-8</div>
    </div>

    <div class="card card-cascade narrower">

        <div class="px-4">

            <div class="table-wrapper">

    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 150px;" class="th-lg table-header chiron-title">ID</th>
            <th style="width: 150px;" class="th-lg table-header chiron-title">First Name</th>
            <th style="width: 150px;" class="th-lg table-header chiron-title">Last Name</th>
            <th style="width: 150px;" class="th-lg table-header chiron-title">Practitioner ID</th>
            <th style="width: 150px;" class="th-lg table-header chiron-title">Contact Info</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="practitioner : ${practitioners}">
            <td class="chiron-text" th:text="${practitioner.id}">1</td>
            <td class="chiron-text" th:text="${practitioner.firstName}">Thelonious</td>
            <td class="chiron-text" th:text="${practitioner.lastName}">Jaha</td>
            <td class="chiron-text" th:text="${practitioner.practitionerID}">BC01236578B</td>
            <td class="chiron-text" th:text="${practitioner.contactInfo}">+ 13 (976) 644-0076</td>
        </tr>
        </tbody>
    </table>

            </div>
        </div>
    </div>

</div>
</body>
</html>