<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'practitioners')}">
<head>
    <meta charset="UTF-8">
    <title th:object="${practitioner}" th:text="'Patient Info | ' + *{lastName + ', ' + firstName}">Practitioner Info</title>
</head>
<body>
<!--/*@thymesVar id="patientItem" type="iot.empiaurhouse.chiron.model.Patient"*/-->

<div  class="container-fluid">



    <div class="row card title-panel">
        <div class="card-body">

            <a><i class="fas fa-id-card fa-lg chironblue-icon"></i></a>
            <a class="panel-text" th:text="'Practitioner Information'">Practitioner Information</a>

        </div>
    </div>


</div>


<div class="container-fluid">

    <div class="row">
        <div class="col-sm-4">

            <!-- Profile Image Card -->

            <div class="profile-card-wrapper">

                <div class="profile-card">

                    <div class="profile-card-image">
                        <img height="650px" width="400px" src="https://image.ibb.co/dUTfmJ/profile_img.jpg" alt="profile one">
                    </div>

                    <ul class="crud-icons">
                        <li>
                             <span th:tooltip="'Add Diagnosis'" flow="up">
                            <a href="#">
                                <i class="fas fa-diagnoses"></i>
                            </a>
                             </span>
                        </li>
                        <li>
                            <span th:tooltip="'Add Prescription'" flow="up">
                            <a href="#">
                                <i class="fas fa-prescription"></i>
                            </a>
                            </span>
                        </li>
                        <li>
                            <span th:tooltip="'Add Visit'" flow="up">
                            <a href="#">
                                <i class="fas fa-clinic-medical"></i>
                            </a>
                            </span>
                        </li>

                    </ul>

                    <div class="details">
                        <h2>PRACTITIONER ID
                            <br>
                            <span class="dob" th:text="*{practitioner.practitionerID}">BCH0012367</span>
                        </h2>
                    </div>
                </div>
            </div>

            <!-- Profile Image Card -->

        </div>

        <div class="col-sm-8">


            <!-- Info Card -->

            <div style="margin-top: 29px" class="card card-cascade wider chiron-info-card">

                <!-- Info Card Header -->
                <div class="view view-cascade overlay">
                    <a><i style="font-size: 27px;" class="fas fa-procedures fa-lg chironblue-icon chiron-info-title"></i></a>
                    <a style="color: #0c204f;" class="chiron-panel-text chiron-hue" th:text="*{practitioner.firstName + ' ' + practitioner.lastName}">Practitioner Name</a>
                    <hr style="margin-top: -0.3px;" class="chiron-line">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body card-body-cascade">

                    <br>
                    <div class="row justify-content-center chiron-frame">

                        <table style="margin-bottom: 44px" class="table table-hover">
                            <tr>
                                <th><a style="color: #0c204f" class="info-data" th:text="'First Name'">First Name</a></th>
                                <td><a class="info-data-value" th:text="*{practitioner.firstName}">John</a></td>
                            </tr>
                            <tr>
                                <th><a style="color: #0c204f" class="info-data" th:text="'Last Name'">Last Name</a></th>
                                <td ><a class="info-data-value" th:text="*{practitioner.lastName}">Doe</a></td>
                            </tr>
                            <tr>
                                <th><a style="color: #0c204f" class="info-data" th:text="'Practitioner ID'">Practitioner ID</a></th>
                                <td ><a class="info-data-value" th:text="*{practitioner.practitionerID}">BCH0012367</a></td>
                            </tr>
                            <tr>
                                <th><a style="color: #0c204f" class="info-data" th:text="'Contact'">Contact Info</a></th>
                                <td ><a class="info-data-value" th:text="*{practitioner.contactInfo}">7782345678</a></td>
                            </tr>
                            <tr>
                                <th><a style="color: #0c204f" class="info-data" th:text="'Email'">Email Info</a></th>
                                <td ><a class="info-data-value" th:text="*{practitioner.emailInfo}">johndoe@test.com</a></td>
                            </tr>

                        </table>


                    </div>


                </div>

            </div>

            <!-- Info Card -->


        </div>
    </div>

</div>

<div class="container mt-4">
    <div class="row" style="padding-bottom: 23px; padding-top: 3px;">
        <div class="col-md-6">
            <a data-toggle="modal" data-target="#fullHeightModalRight" style="color:#ffffff;">
                <button class="btn biodata-button">&nbsp;
                    <i style="font-size: 16px" class="fas fa-trash-alt biodata-button-icon mr-1"></i> DELETE</button>
            </a>
            <a href="#" th:href="@{'/practitioners/edit/' + ${practitioner.id}}" style="color:#ffffff;">
                <button class="btn biodata-button">&nbsp;
                    <i style="font-size: 16px" class="fas fa-pen-alt biodata-button-icon mr-1"></i> EDIT BIODATA</button>
            </a>
        </div>
        <div class="col-md-3">
        </div>
        <div th:if="${practitioner.contactInfo != null && practitioner.contactInfo.isEmpty() == false}" class="col-md-3 ">
            <a style="color:#ffffff;" th:href="@{'tel:' + ${practitioner.contactInfo}}">
                <button class="btn biodata-button pull-right">&nbsp;
                    <i style="font-size: 16px" class="fas fa-pager biodata-button-icon mr-1"></i> CONTACT</button>
            </a>
        </div>
        <div th:if="${practitioner.emailInfo != null && practitioner.contactInfo.isEmpty()}" class="col-md-3 ">
            <a style="color:#ffffff;" th:href="@{'mailto:' + ${practitioner.emailInfo}}">
                <button class="btn biodata-button pull-right">&nbsp;
                    <i style="font-size: 16px" class="fas fa-pager biodata-button-icon mr-1"></i> CONTACT</button>
            </a>
        </div>
    </div>

</div>



<!-- Full Height Modal Right -->
<div class="modal fade right" id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="deleteModal"
     aria-hidden="true">

    <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
    <div class="modal-dialog modal-full-height modal-right" role="document">


        <div class="delete-dialog modal-content">
            <div class="modal-header">
                <h4 th:text="'Delete Practitioner Record'" class="chiron-panel-text chiron-hue modal-title w-100" id="deleteModal">Delete Practitioner Record</h4>
                <a style="margin-left: 3px;" class="panel-text" th:text="' ' + ${practitioner.firstName} + ' ' + ${practitioner.lastName}">
                    John Smith
                </a>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <a class="info-data">
                    Are you sure you want to permanently delete this record from the Chiron database?
                </a>
            </div>
            <div class="modal-footer justify-content-center">
                <button class="btn biodata-button pull-left" data-dismiss="modal">&nbsp;
                    <i style="font-size: 16px" class="far fa-times-circle biodata-button-icon mr-1"></i>
                    CLOSE
                </button>
                <a th:href="@{'/practitioners/delete/' + ${practitioner.id}}">
                    <button class="btn biodata-button pull-right">&nbsp;
                        <i style="font-size: 16px" class="far fa-check-circle biodata-button-icon mr-1"></i>
                        CONFIRM
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Full Height Modal Right -->

<a data-toggle="modal" data-target="#fullHeightModalRight">
    <div  class="fab" >
        <i class="fas fa-trash-alt fab-icon"></i>
    </div>
</a>

</body>
</html>