<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nurse Practitioners</title>
</head>
<body>

<h1 th:text="'List of Nurse Practitioners'">List of NPs</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Practitioner ID</th>
        <th>Contact Info</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="nursepractitioner : ${nursepractitioners}">
        <td th:text="${nursepractitioner.id}">1</td>
        <td th:text="${nursepractitioner.firstName}">Thelonious</td>
        <td th:text="${nursepractitioner.lastName}">Jaha</td>
        <td th:text="${nursepractitioner.practitionerID}">BC01236578B</td>
        <td th:text="${nursepractitioner.contactInfo}">+ 13 (976) 644-0076</td>
    </tr>
    </tbody>
</table>

</body>
</html>