<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'practitioners')}">
<head>
    <meta charset="UTF-8">
    <title>Nurse Practitioners</title>
</head>
<body>

<div class="container-fluid">

<div class="row card title-panel">
    <div class="card-body">

        <a><i class="fas fa-user-circle fa-lg chironblue-icon"></i></a>
        <a class="panel-text" th:text="'Nurse Practitioners'">List of NPs</a>

    </div>
</div>
    <div class="card card-cascade narrower">

        <div class="px-4">

            <div class="table-wrapper">


<table class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">ID</th>
        <th style="width: 150px;">First Name</th>
        <th style="width: 150px;">Last Name</th>
        <th style="width: 150px;">Practitioner ID</th>
        <th style="width: 150px;">Contact Info</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="nursepractitioner : ${nursepractitioners}">
        <td th:text="${nursepractitioner.id}">1</td>
        <td th:text="${nursepractitioner.firstName}">Thelonious</td>
        <td th:text="${nursepractitioner.lastName}">Jaha</td>
        <td th:text="${nursepractitioner.practitionerID}">BC01236578B</td>
        <td th:text="${nursepractitioner.contactInfo}">+ 13 (976) 644-0076</td>
    </tr>
    </tbody>
</table>
            </div>
        </div>
    </div>

</div>
</body>
</html>