<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'practitioners')}">
<head>
    <meta charset="UTF-8">
    <title th:object="${doctor}" th:text="'Doctor Info | ' + *{lastName + ', ' + firstName}">Doctor Info</title>
</head>
<body>
<!--/*@thymesVar id="doctorItem" type="iot.empiaurhouse.chiron.model.Doctor"*/-->

<div  class="container-fluid">



    <div class="row card title-panel">
        <div class="card-body">

            <a><i class="fas fa-id-card fa-lg chironblue-icon"></i></a>
            <a class="panel-text" th:text="'Doctor Information'">Doctor Information</a>

        </div>
    </div>


</div>


<div class="container-fluid">

    <div class="row">
        <div class="col-sm-4">

            <!-- Profile Image Card -->

            <div class="profile-card-wrapper">

                <div class="profile-card">

                    <div class="profile-card-image">
                        <img height="650px" width="400px" th:src="@{'/doctors/' + ${doctor.id} + '/getimage'}"
                             onerror="this.src='https://raw.githubusercontent.com/emeraldemperaur/chiron/master/noprofile.jpg';"
                             src="https://image.ibb.co/dUTfmJ/profile_img.jpg" alt="doctorProfile">
                    </div>

                    <ul class="crud-icons">
                        <li>
                             <span th:tooltip="'Call ' +  ${doctor.getFullName()}" flow="up">
                            <a th:href="@{'tel:' + ${doctor.getContactInfo()}}">
                                <i class="fas fa-phone-volume"></i>
                            </a>
                             </span>
                        </li>
                        <li>
                            <span th:tooltip="'Find Prescriptions'" flow="up">
                            <a data-toggle="modal" data-target="#centralPrescriptionModal">
                                <i class="fas fa-prescription"></i>
                            </a>
                            </span>
                        </li>
                        <li>
                            <span th:tooltip="'Find Visits'" flow="up">
                            <a data-toggle="modal" data-target="#centralVisitModal">
                                <i class="fas fa-clinic-medical"></i>
                            </a>
                            </span>
                        </li>

                    </ul>

                    <div class="details">
                        <h2>PRACTITIONER ID
                            <br>
                            <span class="dob" th:text="*{doctor.practitionerID}">BCH0012367</span>
                        </h2>
                    </div>
                </div>
            </div>

            <!-- Profile Image Card -->

        </div>

        <div class="col-sm-8">


            <!-- Info Card -->

            <div style="margin-top: 29px" class="card card-cascade wider chiron-info-card">

                <!-- Info Card Header -->
                <div class="view view-cascade overlay">
                    <a><i style="font-size: 27px;" class="fas fa-user-md fa-lg chironblue-icon chiron-info-title"></i></a>
                    <a style="color: #0c204f;" class="chiron-panel-text chiron-hue" th:text="*{doctor.getFullName()}">Doctor Name</a>
                    <hr style="margin-top: -0.3px;" class="chiron-line">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Card content -->
                <div class="card-body card-body-cascade">

                    <br>
                    <div class="row justify-content-center chiron-frame">

                        <table style="margin-bottom: 44px" class="table table-hover">
                            <tr>
                                <th><a style="color: #0c204f" class="info-data" th:text="'First Name'">First Name</a></th>
                                <td><a class="info-data-value" th:text="*{doctor.firstName}">John</a></td>
                            </tr>
                            <tr>
                                <th><a style="color: #0c204f" class="info-data" th:text="'Last Name'">Last Name</a></th>
                                <td ><a class="info-data-value" th:text="*{doctor.lastName}">Doe</a></td>
                            </tr>
                            <tr>
                                <th><a style="color: #0c204f" class="info-data" th:text="'Practitioner ID'">Practitioner ID</a></th>
                                <td ><a class="info-data-value" th:text="*{doctor.practitionerID}">BCH0012367</a></td>
                            </tr>
                            <tr>
                                <th><a style="color: #0c204f" class="info-data" th:text="'Contact'">Contact</a></th>
                                <td ><a class="info-data-value" th:text="*{doctor.contactInfo}">7782345678</a></td>
                            </tr>
                            <tr>
                                <th><a style="color: #0c204f" class="info-data" th:text="'Email'">Email</a></th>
                                <td><a class="info-data-value" th:text="*{doctor.emailInfo}">johndoe@test.com</a></td>
                            </tr>
                            <tr>
                                <th style="color: #0c204f"><a class="info-data" th:text="'Specialities'">Specialities</a></th>
                                <td>
                                    <div th:each="speciality : ${doctor.specialities}">
                                    <a class="info-data-value" th:text="*{speciality}">Surgery</a><br>
                                        <a class="info-data-value">Dentist</a>
                                    </div>
                                </td>
                            </tr>
                        </table>


                    </div>


                </div>

            </div>

            <!-- Info Card -->


        </div>
    </div>

</div>

<div class="container mt-4">
    <div class="row" style="padding-bottom: 23px; padding-top: 3px;">
        <div class="col-md-6">
            <a style="color:#ffffff;" data-toggle="modal" data-target="#fullHeightModalRight">
                <button class="btn biodata-button">&nbsp;
                    <i style="font-size: 16px" class="fas fa-trash-alt biodata-button-icon mr-1"></i> DELETE</button>
            </a>
            <a href="#" th:href="@{'/doctors/edit/' + ${doctor.id}}" style="color:#ffffff;">
                <button class="btn biodata-button">&nbsp;
                    <i style="font-size: 16px" class="fas fa-pen-alt biodata-button-icon mr-1"></i> EDIT BIODATA</button>
            </a>
        </div>
        <div class="col-md-3">
        </div>
        <div th:if="${doctor.contactInfo != null && doctor.contactInfo.isEmpty() == false}" class="col-md-3 ">
            <a style="color:#ffffff;" th:href="@{'tel:' + ${doctor.contactInfo}}">
                <button class="btn biodata-button pull-right">&nbsp;
                    <i style="font-size: 16px" class="fas fa-pen-alt biodata-button-icon mr-1"></i> CONTACT</button>
            </a>
        </div>
        <div th:if="${doctor.emailInfo != null && doctor.contactInfo.isEmpty()}" class="col-md-3 ">
            <a style="color:#ffffff;" th:href="@{'mailto:' + ${doctor.emailInfo}}">
                <button class="btn biodata-button pull-right">&nbsp;
                    <i style="font-size: 16px" class="fas fa-pen-alt biodata-button-icon mr-1"></i> CONTACT</button>
            </a>
        </div>
    </div>

</div>


<!-- Full Height Modal Right -->
<div class="modal fade right" id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="deleteModal"
     aria-hidden="true">

    <div class="modal-dialog modal-full-height modal-right" role="document">


        <div class="delete-dialog modal-content">
            <div class="modal-header">
                <h4 th:text="'Delete Doctor Record'" class="chiron-panel-text chiron-hue modal-title w-100" id="deleteModal">Delete Doctor Record</h4>
                <a style="margin-left: 3px;" class="panel-text" th:text="' ' + ${doctor.firstName} + ' ' + ${doctor.lastName}">
                    John Smith
                </a>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <a class="info-data">
                    Are you sure you want to permanently delete this record from the Chiron database?
                </a>
            </div>
            <div class="modal-footer justify-content-center">
                <button class="btn biodata-button pull-left" data-dismiss="modal">&nbsp;
                    <i style="font-size: 16px" class="far fa-times-circle biodata-button-icon mr-1"></i>
                    CLOSE
                </button>
                <a th:href="@{'/doctors/delete/' + ${doctor.id}}">
                    <button class="btn biodata-button pull-right">&nbsp;
                        <i style="font-size: 16px" class="far fa-check-circle biodata-button-icon mr-1"></i>
                        CONFIRM
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Full Height Modal Right -->



<!-- Prescription Modal -->
<div class="modal fade" id="centralPrescriptionModal" tabindex="-1" role="dialog" aria-labelledby="centralPrescriptionModal"
     aria-hidden="true">

    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">


        <div style="border-radius: 13px;" class="modal-content pull-results-modal">
            <div class="modal-header">
                <a><i style="font-size: 33px;" class="fas fa-prescription fa-lg chironblue-icon"></i></a>
                <a class="chiron-panel-text chiron-hue modal-title w-100" id="prescriptionModalLabel"> PRESCRIPTIONS</a>
                <br>
                <a class="panel-text" th:text="'by MD. ' + ${doctor.getDelimitedFullName()}">by MD. No Name</a>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="max-height: 50vh; overflow-y: auto;" class="modal-body pull-results-modal-info">
                <div class="row">
                    <div th:if="${doctorPrescriptions.size() > 0}">
                        <div class="list-group">
                            <a th:each="prescription : ${doctorPrescriptions}" th:href="@{'/patients/info/' + ${prescription.patient.id} + '#diagnoseswrapper'}"
                               class="list-group-item list-group-item-action" aria-current="true">
                                <div class="d-flex w-100 justify-content-between">
                                    <h1 th:text="${prescription.prescriptionName}" class="mb-1 pull-records-found-title">Prescription Name</h1>
                                    <small th:text="${prescription.diagnosis.diagnosisSynopsis}" class="pull-right pull-records-found-side-title">Diagnosis</small>
                                </div>
                                <h3 th:text="${prescription.patient.getFullName()}" class="mb-1 pull-records-found-subtitle">
                                    Patient Name
                                </h3>
                                <small th:text="${#temporals.format(prescription.prescriptionDate, 'EEE, dd MMMM yyyy')}" class="pull-records-found-footer">Prescription Date</small>
                            </a>


                        </div>
                    </div>
                    <h3 th:if="${doctorPrescriptions.size() < 1}" class="no-pull-results"
                        th:text="'No Prescriptions by MD. ' + ${doctor.getFullName()} + ' were found in the Chiron database'">
                        No Prescriptions by MD. No Name were found in the Chiron database
                    </h3>
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-left pull-records-found">
                    <a class="pull-records-found-text">Records found </a>&nbsp;
                    <a class="pull-records-found-count" th:text="${prescriptionsCount}">10</a>
                </div>
                <div class="pull-records-found-button">
                    <button class="btn biodata-button pull-right" data-dismiss="modal">&nbsp;
                        <i style="font-size: 16px" class="far fa-times-circle biodata-button-icon mr-1"></i>
                        EXIT&nbsp;
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Prescription Modal -->

<!-- Visit Modal -->
<div class="modal fade" id="centralVisitModal" tabindex="-1" role="dialog" aria-labelledby="centralVisitModal"
     aria-hidden="true">

    <div class="modal-dialog modal-lg" role="document">


        <div style="border-radius: 13px;" class="modal-content pull-results-modal">
            <div class="modal-header">
                <a><i style="font-size: 33px;" class="fas fa-clinic-medical fa-lg chironblue-icon"></i></a>
                <a class="chiron-panel-text chiron-hue modal-title w-100" id="visitModalLabel"> VISIT LOGS</a>
                <br>
                <a class="panel-text" th:text="'for MD. ' + ${doctor.getDelimitedFullName()}">for MD. No Name</a>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="max-height: 50vh; overflow-y: auto;" class="modal-body pull-results-modal-info">
                <div class="row">
                    <div th:if="${doctorVisits.size() > 0}">
                        <div class="list-group">
                            <a th:each="visit : ${doctorVisits}" th:href="@{'/patients/info/' + ${visit.visitingPatient.id} + '#diagnoseswrapper'}"
                               class="list-group-item list-group-item-action" aria-current="true">
                                <div class="d-flex w-100 justify-content-between">
                                    <h1 th:text="${#temporals.format(visit.visitDate, 'EEE, dd MMMM yyyy')} + ' @ ' + ${visit.visitTime}"
                                        class="mb-1 pull-records-found-title">Visit Date @ Time</h1>
                                    <small th:text="${visit.visitDiagnosis.diagnosisSynopsis}" class="pull-right pull-records-found-side-title">Diagnosis</small>
                                </div>
                                <p th:text="${visit.visitDescription}" class="mb-1 pull-records-found-subtext">
                                    Visit Log Test Info for testing purposes only. This visit log test is just the test of the test
                                    to test the testing of the tester in the test to be tested for testing
                                </p>
                                <small th:text="${visit.visitingPatient.getFullName()}" class="pull-records-found-footer">Patient</small>
                            </a>

                        </div>
                    </div>
                    <h3 th:if="${doctorVisits.size() < 1}" class="no-pull-results"
                        th:text="'No Visit Logs were found for MD. ' + ${doctor.getFullName()} + ' in the Chiron database'">
                        No Visit Logs were found for MD. No Name in the Chiron database
                    </h3>
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-left pull-records-found">
                    <a class="pull-records-found-text">Records found </a>&nbsp;
                    <a class="pull-records-found-count" th:text="${visitsCount}">10</a>
                </div>
                <div class="pull-records-found-button">
                    <button class="btn biodata-button pull-right" data-dismiss="modal">&nbsp;
                        <i style="font-size: 16px" class="far fa-times-circle biodata-button-icon mr-1"></i>
                        EXIT&nbsp;
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Visit Modal -->




<a data-toggle="modal" data-target="#fullHeightModalRight">
    <div  class="fab" >
        <i class="fas fa-trash-alt fab-icon"></i>
    </div>
</a>


</body>
</html>