<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'practitioners')}">
<head>
    <meta charset="UTF-8">
    <title>Doctors</title>
</head>
<body>
<div class="container-fluid">

<div class="row card title-panel">
    <div class="card-body">

        <a><i class="fas fa-user-circle fa-lg chironblue-icon"></i></a>
        <a class="panel-text" th:text="'Doctors'">List of Doctors</a>

    </div>
</div>

<table class="table table-striped">
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Practitioner ID</th>
        <th>Contact Info</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="doctor : ${doctors}">
        <td th:text="${doctor.id}">1</td>
        <td th:text="${doctor.firstName}">Thelonious</td>
        <td th:text="${doctor.lastName}">Jaha</td>
        <td th:text="${doctor.practitionerID}">BC01236578B</td>
        <td th:text="${doctor.contactInfo}">+ 13 (976) 644-0076</td>
    </tr>
    </tbody>
</table>

</div>
</body>
</html>