<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'patients')}">
<head>
    <meta charset="UTF-8">
    <title>Visit Editor</title>
</head>
<body>
<div  class="container-fluid">

    <div class="row card title-panel">
        <div class="card-body">

            <a><i class="fas fa-notes-medical fa-lg chironblue-icon"></i></a>
            <a th:if="${diagnosis != null}" class="panel-text" th:text="${'Add New Visit Record | ' + diagnosis.diagnosisSynopsis}">Add New Visit Record</a>
            <a th:if="${diagnosis == null}" class="panel-text">Add New Visit Record | Diagnosis</a>

        </div>
    </div>

</div>
<form th:object="${visit}"  method="post" id="visit">
<div class="container-fluid">
    <div class="card card-cascade wider chiron-info-card">
        <div style="background-color: white" class="card-body card-body-cascade">
            <div class="row justify-content-center diagnosis-editor-frame">

                <div class="col-md-12">
                    <div class="card chiron-editor-card">
                        <div class="card-body">
                            <div class="text-center mb-1">
                                <br><br>
                                <div class="diagnosis-editor-icon-box">
                                    <div class="flip-this">
                                        <a th:href="@{'/patients/info/' + ${diagnosis.patient.id} + '#diagnoseswrapper'}">
                                            <i style="font-size: 33px" class="fas fa-notes-medical fa-lg chironblue-icon"></i>
                                        </a>
                                    </div>
                                </div>
                                <br>
                                <h4 class="mt-1 mb-2 chiron-editor-title">Visit Log Entry</h4>
                            </div>
                            <a th:href="@{'/patients/info/' + ${diagnosis.patient.id} + '#diagnoseswrapper'}">
                            <div th:if="${diagnosis != null}" class="row editor-input">
                                <h5 class="display-4 chiron-patient-log-title" th:text="${diagnosis.patient.getFullName()}">Patient Name</h5>
                            </div>
                            </a>
                            <div th:if="${diagnosis == null}" class="row editor-input">
                                <h5 class="display-4 chiron-patient-log-title" >Patient Name</h5>
                            </div>

                            <div class="row editor-input">
                                <div class="col-md-12">
                                    <div class="md-form ml-0 mr-0">
                                        <span class="editor-label ml-0">Log Description</span>
                                        <textarea required th:field="*{visitDescription}" style="align-content: start; text-align: start;" id="logDescription" rows="4" cols="50" class="chiron-modal-edit-input form-control" name="visitDescription" form="visit">
                                        </textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row editor-input">
                                <div class="col-md-6">
                                    <div class="md-form ml-0 mr-0">
                                        <label  data-error="wrong" data-success="right" class="chiron-modal-label ml-0">Visit Time</label>
                                        <select required  name="visitTime" th:field="*{visitTime}" class="chiron-modal-edit-input form-control form-control-lg validate ml-0">
                                            <option th:each="timeSlot : ${timeSlots}"
                                                    th:value="${timeSlot}"
                                                    th:selected="${timeSlot.equals(visit.visitTime)}"
                                                    th:text="${timeSlot}">NORMAL</option>
                                            <option th:remove="all">00:00</option>
                                            <option th:remove="all">00:30</option>
                                            <option th:remove="all">01:00</option>
                                            <option th:remove="all">01:30</option>
                                            <option th:remove="all">02:00</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="md-form ml-0 mr-0">
                                        <input required th:field="*{visitDate}" type="date" id="form4" name="visitDate"  class="chiron-modal-edit-input form-control form-control-lg validate ml-0">
                                        <label data-error="wrong" data-success="right" for="form4" class="chiron-modal-label ml-0">Visit Date</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row editor-input">
                                <div class="col-md-6">
                                    <div class="md-form ml-0 mr-0">
                                        <input required th:field="*{hostPractitioner}" type="text" id="hostPractitioner" class="chiron-modal-edit-input form-control form-control-lg validate ml-0">
                                        <label data-error="wrong" data-success="right" for="hostPractitioner" class="chiron-modal-label ml-0">Host Practitioner</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="md-form ml-0 mr-0">
                                        <input required th:field="*{hostPractitionerID}" type="text" id="hostPractitionerID" class="chiron-modal-edit-input form-control form-control-lg validate ml-0">
                                        <label data-error="wrong" data-success="right" for="hostPractitionerID" class="chiron-modal-label ml-0">Practitioner ID</label>
                                    </div>
                                </div>
                            </div>

                            <br><br>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <!-- Delete Sub-Entity Modal -->
    <div th:if="${visit.id != null}"
         class="modal fade right" id="sideModalEdit" tabindex="-1" role="dialog" aria-labelledby="sideModalEdit"
         aria-hidden="true">

        <div class="modal-dialog modal-side modal-bottom-right" role="document">
            <div class="modal-content sub-delete-pip-dialog">
                <div class="modal-header">
                    <h4 class="chiron-panel-text chiron-hue modal-title w-100" id="sideModalLabel">EDIT VISIT LOG</h4>
                    <a style="margin-left: 3px; text-align: justify;" class="panel-text" th:text="'for ' + ${visit.visitDiagnosis.diagnosisSynopsis}">for Diagnosis</a>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body sub-delete-pip-dialog-info">
                    <p style="text-align: justify;" class="info-data" th:text="'Are you a 100% sure that you want to edit this visit log for '
                    + ${visit.visitDiagnosis.patient.getFullName()} + '\'s ('+ ${visit.visitDiagnosis.diagnosisSynopsis} + ') Diagnosis from '
                    + ${#temporals.format(visit.visitDate, 'EEEE, dd MMMM yyyy')}
                    + '?'">Are you a 100% sure that you want to edit this prescription record for Patient's (DN) Diagnosis from (DD)?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn biodata-button pull-left" data-dismiss="modal">&nbsp;
                        <i style="font-size: 16px" class="far fa-times-circle biodata-button-icon mr-1"></i>
                        CLOSE
                    </button>
                    <button type="submit" class="btn biodata-button pull-right">
                        <i style="font-size: 16px" class="far fa-check-circle biodata-button-icon mr-1"></i>
                        UPDATE
                    </button>
                </div>
            </div>
        </div>
    </div>



    <div th:if="${visit.id == null}" class="modal fade right" id="sideModalNew"
         tabindex="-1" role="dialog" aria-labelledby="sideModalNew"
         aria-hidden="true">

        <div class="modal-dialog modal-side modal-bottom-right" role="document">
            <div class="modal-content sub-delete-pip-dialog">
                <div class="modal-header">
                    <h4 class="chiron-panel-text chiron-hue modal-title w-100" id="sideModalLabelNew">CREATING VISIT LOG</h4>
                    <a style="margin-left: 3px; text-align: justify;" class="panel-text" th:text="'for ' + ${visit.visitDiagnosis.diagnosisSynopsis}">for Diagnosis</a>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body sub-delete-pip-dialog-info">
                    <p class="info-data" style="text-align: justify"><strong>NOTE:&nbsp;</strong>Only Diagnosis records can be deleted from the Chiron database. Once a visit log has been added to a patient's diagnosis, it can only be edited!</p>
                    &nbsp;<br>
                    <p class="info-data" style="text-align: justify" th:text="'Are you sure you want to add this visit log to ' + ${visit.visitDiagnosis.patient.getFullName()}
                    + '\'s ('+ ${visit.visitDiagnosis.diagnosisSynopsis} + ') Diagnosis from ' + ${#temporals.format(visit.visitDiagnosis.visitDate, 'EEEE, dd MMMM yyyy')}
                     + '?'">Are you sure you want to add this prescription to Patient's (DiagnosisName) Diagnosis?</p>
                </div>
                <div class="modal-footer">
                    <button class="btn biodata-button pull-left" data-dismiss="modal">&nbsp;
                        <i style="font-size: 16px" class="far fa-times-circle biodata-button-icon mr-1"></i>
                        DISMISS
                    </button>
                    <button type="submit" class="btn biodata-button pull-right">
                        <i style="font-size: 16px; padding-left: 2px;" class="far fa-check-circle biodata-button-icon mr-1"></i>
                        SUBMIT
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete Sub-Entity Modal -->

</form>

<a style="color:#ffffff" data-toggle="modal" data-target="#sideModalEdit">
<div th:if="${visit.id != null}" class="row text-center" data-toggle="modal" data-target="#sideModalEdit">
        <button id="submit_btn_edit" type="submit" class="btn create">
            <i style="font-size: 16px" class="fas fa-notes-medical biodata-button-icon mr-1"></i> <a th:text="${editorButton}">UPDATE</a></button>
</div>
</a>

<a style="color:#ffffff" data-toggle="modal" data-target="#sideModalNew">
<div th:if="${visit.id == null}" class="row text-center" data-toggle="modal" data-target="#sideModalNew">
    <button id="submit_btn_new" type="submit" class="btn create">
        <i style="font-size: 16px" class="fas fa-notes-medical biodata-button-icon mr-1"></i> <a th:text="${editorButton}">CREATE</a></button>
</div>
</a>


<div class="container mt-4">
    <h5 th:if="${diagnosis != null && diagnosis.visits.size() > 1}" class="display-4 chiron-subtitle" th:text="'Previous Visits for ' + ${diagnosis.diagnosisSynopsis}">Previous Visits for Diagnosis</h5>
    <h5 th:if="${diagnosis == null}" class="display-4 chiron-subtitle" th:text="'Previous Visits for Diagnosis'">Previous Visits for Diagnosis</h5>
</div>

<div th:if="${diagnosis != null}" class="container mt-4">
<div class="row">
    <div th:each="visit : ${diagnosis.visits}" th:if="${visit.visitDate != null}" class="col-sm-4">
        <div class="card item-pill-card">
            <div class="card-body chiron-prescription-frame">
                <div class="row">

                <div class="col-sm-12">
                    <a id="visitDate" th:text="${#temporals.format(visit.visitDate, 'dd MMM yyyy')}" class="item-pill-amount pull-right">12 FEB 2020</a>
                </div>

                <div class="col-sm-6">
                    <a class="dosage-duration-title">TIME </a>
                    <br>
                    <a id="visitTime" th:text="${visit.visitTime}" class="item-pill-amount">22:00</a>
                </div>
                <div class="col-sm-6">
                    <a class="dosage-duration-title pull-right">HOST PRACTITIONER </a>
                    <br>
                    <a id="hostPractitionerTitle" th:text="${visit.hostPractitioner}" class="item-pill-amount pull-right">Dr. Dre</a>
                </div>

                <div class="col-sm-12">
                    <br>
                    <a class="dosage-duration-title text-center">NOTE </a>
                    <br>
                    <a id="visitDescription" th:text="${visit.visitDescription}" class="item-pill-note">
                        2020-02-08 23:10:18.482  WARN 8016 --- [l-1 housekeeper] com.zaxxer.hikari.pool.HikariPool        : HikariPool-1 - Thread starvation or clock leap detected (housekeeper delta=1h15m1s227ms911µs100ns).
                    </a>
                </div>

                </div>
            </div>

            </div>
        </div>
    <div th:remove="all" class="col-sm-4">
        <div class="card item-pill-card">
            <div class="card-body chiron-prescription-frame">
                <div class="row">

                    <div class="col-sm-12">
                        <a class="item-pill-amount pull-right">12 FEB 2020</a>
                    </div>

                    <div class="col-sm-6">
                        <a class="dosage-duration-title">TIME </a>
                        <br>
                        <a class="item-pill-amount">22:00</a>
                    </div>
                    <div class="col-sm-6">
                        <a class="dosage-duration-title pull-right">HOST PRACTITIONER </a>
                        <br>
                        <a class="item-pill-amount pull-right">Dr. Dre</a>
                    </div>

                    <div class="col-sm-12">
                        <br>
                        <a class="dosage-duration-title text-center">NOTE </a>
                        <br>
                        <a class="item-pill-note">
                            2020-02-08 23:10:18.482  WARN 8016 --- [l-1 housekeeper] com.zaxxer.hikari.pool.HikariPool        : HikariPool-1 - Thread starvation or clock leap detected (housekeeper delta=1h15m1s227ms911µs100ns).
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div th:remove="all" class="col-sm-4">
        <div class="card item-pill-card">
            <div class="card-body chiron-prescription-frame">
                <div class="row">

                    <div class="col-sm-12">
                        <a class="item-pill-amount pull-right">12 FEB 2020</a>
                    </div>

                    <div class="col-sm-6">
                        <a class="dosage-duration-title">TIME </a>
                        <br>
                        <a class="item-pill-amount">22:00</a>
                    </div>
                    <div class="col-sm-6">
                        <a class="dosage-duration-title pull-right">HOST PRACTITIONER </a>
                        <br>
                        <a class="item-pill-amount pull-right">Dr. Dre</a>
                    </div>

                    <div class="col-sm-12">
                        <br>
                        <a class="dosage-duration-title text-center">NOTE </a>
                        <br>
                        <a class="item-pill-note">
                            2020-02-08 23:10:18.482  WARN 8016 --- [l-1 housekeeper] com.zaxxer.hikari.pool.HikariPool        : HikariPool-1 - Thread starvation or clock leap detected (housekeeper delta=1h15m1s227ms911µs100ns).
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>


<a th:if="${visit.id != null}" th:href="@{'/patients/info/' + ${visit.visitingPatient.id}}" >
    <div class="fab">
        <i class="fas fa-arrow-left fab-icon"></i>
    </div>
</a>

<a th:if="${visit.id == null}" th:href="@{'/patients/info/' + ${visit.visitingPatient.id}}">
<div  class="fab">
    <i class="far fa-user-circle fab-icon"></i>
</div>
</a>

</body>
</html>